{% extends "index.html" %}
{% block body %}
<div class="container">
  <div class='row'>
  	<div class="col-md-12">
		<ul class="breadcrumb">
		  <li><a href="/7_layer_access/">7层接入管理</a> <span class="divider"></span></li>
		  <li class="active">编辑7层接入实例</li>
		</ul>
  	</div>
  </div>

  <div class='row'>
  	<div class='col-md-12' id='7_layer_access_new_item_body'>
  		<h4>7层接入实例</h4>
  		<hr>

	  	<form class="form-horizontal">

            <div class="control-group">
		      <label class="control-label" for="service">接入业务名称</label>
		      <div class="controls">
		        <td><input id="service" size=60 class="7_layer_access_edit_item_input" type="text" name='service' value="{{ instance.service }}"></td>
		      </div>
            </div>

            <div class="control-group">
		      <label class="control-label" for="idc">接入业务所在IDC</label>
		      <div class="controls">
		        <select id="idc" class="7_layer_access_edit_item_input" name='idc'>
                    <option> {{ instance.idc }} </option>
                    {% for idc in idcList %}
		        	<option value= {{ idc }} > {{ idc }} </option>
                    {% endfor %}
		        </select>
		      </div>
		    </div>

            <div class="control-group">
		      <label class="control-label" for="domain">接入业务域名(Host)</label>
		      <div class="controls">
		        <td><input id="domain" size=60 class="7_layer_access_edit_item_input" type="text" name='domain' value="{{ instance.domain }}"></td>
		      </div>
            </div>

            <div class="control-group">
		      <label class="control-label" for="upstream">接入业务源站服务器信息(Upstream)</label>
		      <div class="controls">
		        <td><input id="upstream" size=60 class="7_layer_access_edit_item_input" type="text" name='upstream' value="{{ instance.upstream }}"></td>
		      </div>
            </div>
		</form>

	    </br>
		<h4>RealServer组</h4>
		<hr>
		<button id="rs_add" class='btn btn-success'><span class="fui-plus"></span>添加RS</button>
		<table class="table table-bordered table-hover">
			  <thead>
			    <tr>
			      <th style="width: 10%">源站IP</th>
			      <th style="width: 10%">源站端口</th>
			      <th style="width: 10%">调度权重</th>
			      <th style="width: 15%">健康检查类型</th>
			      <th style="width: 15%">健康检查调度周期(fail_timeout)</th>
                  <th style="width: 15%">健康检查连续失败次数(max_fails)</th>
			      <th>操作</th>
			    </tr>
			  </thead>
			  <tbody id='rs_table_body'>
              {% for rs in instance.rs %}
              <tr>
                  <td>{{ rs.website_ip }}</td>
                  <td>{{ rs.website_port }}</td>
                  <td>{{ rs.website_weight }}</td>
                  <td>{{ rs.healthchecker_type }}</td>
                  <td>{{ rs.healthchecker_fail_timeout }}</td>
                  <td>{{ rs.healthchecker_max_fails }}</td>
                  <td><a href="javascript:rs_offline({{ rs.index }})" ><span class="fui-cross"></span>offline</a><a style="position: relative;left: 10px;" href="javascript:rs_edit({{ rs.index }})" ><span class="fui-new"></span>edit</a></td>
              </tr>
              {% endfor %}
              </tbody>
		</table>
		<hr>



		<button style="position: relative;left: 800px;" class='btn btn-danger' id="7_layer_access_edit_item_submit" ><span class="fui-checkbox-checked"></span>提交</button>
		<a href="/7_layer_access/" style="position: relative;left: 800px;" class='btn btn-primary'><span class="fui-arrow-left"></span>返回</a>
  	</div>
  </div>


    <div id="dialog-form" title="新增RS配置">
        <form>
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="website_ip">源站IP</label>
                    <div class="controls">
                        <td><input id="website_ip" type="text" name='website_ip'><span class="help-block">源站IP</span></td>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="website_port">服务端口</label>
                    <div class="controls">
                        <td><input id="website_port" type="text" name='website_port'><span class="help-block">源站端口</span></td>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="website_weight">调度权重</label>
                    <div class="controls">
                        <td><input id="website_weight" type="text" name='website_weight'><span class="help-block">用于调节RS的负载压力</span></td>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="healthchecker_type">健康检查类型</label>
                    <div class="controls">
                        <select id="healthchecker_type" name='healthchecker_type'>
                            <option value='HTTP_GET'>HTTP_GET</option>
                        </select>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="healthchecker_fail_timeout">健康检查周期</label>
                    <div class="controls">
                        <td><input id="healthchecker_fail_timeout" type="text" name='healthchecker_fail_timeout'><span class="help-block">健康检查周期，单位：秒</span></td>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="healthchecker_max_fails">健康检查最大连续失败次数</label>
                    <div class="controls">
                        <td><input id="healthchecker_max_fails" type="text" name='healthchecker_max_fails'><span class="help-block">检查周期内，最大连续失败次数阈值，达到阈值后则认为RS为Down</span></td>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>



</div>


<script type="text/javascript">
    var rs_list = []
    var rs_num_now

    $.ajax({
        type: 'GET' ,
        url: '/7_layer_access_get_rs_list/?idc={{ instance.idc }}&service={{ instance.service }}' ,
        data_type: 'json' ,
        cache: false ,
        success: function(data) {
            rs_list = $.parseJSON(data) ;
            rs_table() ;
        },
    });

    $("#7_layer_access_edit_item_submit").click(function() {
        bootbox.confirm('是否保存修改',function(result) {
            if ( result ) {
                var _rs_list = []
                post_data = new Object() ;

                $(".7_layer_access_edit_item_input").each(function() {
                    var key = $(this).attr('id') ;
                    var value = $(this).val() ;
                    post_data[key] = value ;
                })
                for (rs in rs_list) {
                    if ( rs_list[rs] ) {
                        _rs_list.push(rs_list[rs])
                    }
                };
                post_data['rs'] = _rs_list ;

                var _post_data = $.toJSON(post_data)

                var loading = new ol.loading({id: "7_layer_access_new_item_body"}) ;
                $.ajax({
                    type: 'POST' ,
                    url: '/7_layer_access_edit_item/' ,
                    data: _post_data ,
                    cache: false ,
                    beforeSend: function() { loading.show()} ,
                    success: function(data) {
                        loading.hide()  ;
                        window.location.href="/7_layer_access/"
                    },
                    error: function(XMLHttpRequest) {
                        loading.hide()  ;
                        bootbox.alert('提交失败:' + XMLHttpRequest)
                    }
                });
            }
        })
    })


    function rs_table() {
        var html = ''
        for (rs in rs_list) {
            _rs = rs_list[rs]
            html += '<tr><td>' + _rs['website_ip'] + '</td><td>' + _rs['website_port'] + '</td><td>' +
                _rs['website_weight'] + '</td><td>' + _rs['healthchecker_type'] + '</td><td>' +_rs['healthchecker_fail_timeout'] + '</td><td>' + _rs['healthchecker_max_fails'] +'</td><td><a href="javascript:rs_remove(' + rs + ')" ><span class="fui-cross"></span>delete</a></td></tr>'
        }
        $("#rs_table_body").html(html)
    };

    $( "#dialog-form" ).dialog({
        autoOpen: false,
        height: 600,
        width: 400,
        modal: true,
        buttons: {
            "保存": function() {
                monitor_new = new Object ;

                monitor_new['website_ip'] = $("#website_ip").val() ;
                monitor_new['website_port'] = $("#website_port").val() ;
                monitor_new['website_weight'] = $("#website_weight").val() ;
                monitor_new['healthchecker_type'] = $("#healthchecker_type").val() ;
                monitor_new['healthchecker_fail_timeout'] = $("#healthchecker_fail_timeout").val() ;
                monitor_new['healthchecker_max_fails'] = $("#healthchecker_max_fails").val() ;

                rs_list.push(monitor_new) ;
                rs_table() ;
                $( this ).dialog( "close" );
            },
            Cancel: function() {
                $( this ).dialog( "close" );
            }
        },
        close: function() {

        }

    });

    $("#rs_add").click(function() {
        $( "#dialog-form" ).dialog( "open" );
    });

    function rs_remove(rs_num) {
        delete rs_list[rs_num] ;
        rs_table() ;
    };




</script>
{% endblock %}
