{% extends "index.html" %}
{% block body %}
<div class="container">
  <div class='row'>
  	<div class="col-md-12">
		<ul class="breadcrumb">
		  <li><a href="/7_layer_access/">7层接入管理</a> <span class="divider"></span></li>
		  <li class="active">新增7层接入实例</li>
		</ul>
  	</div>
  </div>

  <div class='row'>
  	<div class='col-md-12' id='7_layer_access_new_item_body'>
  		<h4>7层接入实例</h4>
  		<hr>

	  	<form class="form-horizontal">

            <div class="control-group">
		      <label class="control-label" for="service">接入业务名称</label>
		      <div class="controls">
		        <td><input id="service" size=60 class="7_layer_access_new_item_input" type="text" name='service' placeholder="业务名, 例如: 123-nginx"></td>
		      </div>
            </div>

            <div class="control-group">
		      <label class="control-label" for="idc">接入业务所在IDC</label>
		      <div class="controls">
		        <select id="idc" class="7_layer_access_new_item_input" name='idc'>
                    {% for idc in idcList %}
		        	<option value= {{ idc }} > {{ idc }} </option>
                    {% endfor %}
		        </select>
		      </div>
		    </div>

            <div class="control-group">
		      <label class="control-label" for="domain">接入业务域名(Host)</label>
		      <div class="controls">
		        <td><input id="domain" size=60 class="7_layer_access_new_item_input" type="text" name='domain' placeholder="域名, 例如: www.thewayma.com"></td>
		      </div>
            </div>

            <div class="control-group">
		      <label class="control-label" for="upstream">接入业务源站服务器信息(Upstream)</label>
		      <div class="controls">
		        <td><input id="upstream" size=60 class="7_layer_access_new_item_input" type="text" name='upstream' placeholder="upstream, 例如: 1.1.1.1:80,2.2.2.2,3.3.3.3:8080 即多个源站ip用,分割"></td>
		      </div>
            </div>
		</form>

        <h4>RealServer组</h4>
        <hr>
		<button id="rs_add" class='btn btn-success'><span class="fui-plus"></span>添加RS</button>
		<table class="table table-bordered table-hover">
			  <thead>
			    <tr>
			      <th style="width: 10%">源站IP</th>
			      <th style="width: 10%">源站端口</th>
			      <th style="width: 10%">权重</th>
			      <th style="width: 15%">健康检查方式</th>
                  <th style="width: 15%">健康检查周期(s)</th>
                  <th style="width: 15%">最大连续失败次数</th>
                  <th style="width: 15%">操作</th>
			    </tr>
			  </thead>
			  <tbody id='rs_table_body'>
			  </tbody>
		</table>
		<hr>

		<button style="position: relative;left: 800px;" class='btn btn-danger' id="7_layer_access_new_item_submit" ><span class="fui-checkbox-checked"></span>提交</button>
		<a href="/7_layer_access/" style="position: relative;left: 800px;" class='btn btn-primary'><span class="fui-arrow-left"></span>返回</a>
  	</div>
  </div>


    <div id="dialog-form" title="新增RS配置">
        <form>
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="website_ip">源站IP</label>
                    <div class="controls">
                        <td><input id="website_ip" type="text" name='website_ip'><span class="help-block">RealServer IP</span></td>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="website_port">源站端口</label>
                    <div class="controls">
                        <td><input id="website_port" type="text" name='website_port'><span class="help-block">RealServer Port</span></td>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="website_weight">权重</label>
                    <div class="controls">
                        <td><input id="website_weight" type="text" name='website_weight'><span class="help-block">调度权重, 默认值为1</span></td>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="monitor_type">健康检查方式</label>
                    <div class="controls">
                        <select id="monitor_type" name='monitor_type'>
                            <option value='HTTP_GET'>HTTP_GET</option>
                        </select>
                    </div>
                </div>


                <div class="control-group">
                    <label class="control-label" for="fail_timeout">fail_timeout</label>
                    <div class="controls">
                        <td><input id="fail_timeout" type="text" name='fail_timeout'><span class="help-block">健康检查的检测周期，单位：秒</span></td>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="max_fails">max_fails</label>
                    <div class="controls">
                        <td><input id="max_fails" type="text" name='max_fails'><span class="help-block">检测周内的最大失败次数，到达该阈值后，则认为RS为down； 设为0，则关闭监控检查功能</span></td>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>



    <div id="dialog-form-edit" title="编辑RS配置">
        <form>
            <fieldset>
                <input id="edit_record_rs_num" type="text" class="hide">
                <div class="control-group">
                    <label class="control-label" for="website_ip">源站IP</label>
                    <div class="controls">
                        <td><input id="edit_website_ip" type="text" name='website_ip'><span class="help-block">RealServer IP</span></td>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="website_port">源站端口</label>
                    <div class="controls">
                        <td><input id="edit_website_port" type="text" name='website_port'><span class="help-block">RealServer Port</span></td>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="website_weight">权重</label>
                    <div class="controls">
                        <td><input id="edit_website_weight" type="text" name='website_weight'><span class="help-block">调度权重, 默认值为1</span></td>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="monitor_type">健康检查方式</label>
                    <div class="controls">
                        <select id="edit_monitor_type" name='monitor_type'>
                            <option value='HTTP_GET'>HTTP_GET</option>
                        </select>
                    </div>
                </div>


                <div class="control-group">
                    <label class="control-label" for="fail_timeout">fail_timeout</label>
                    <div class="controls">
                        <td><input id="edit_fail_timeout" type="text" name='fail_timeout'><span class="help-block">健康检查的检测周期，单位：秒</span></td>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="max_fails">max_fails</label>
                    <div class="controls">
                        <td><input id="edit_max_fails" type="text" name='max_fails'><span class="help-block">检测周内的最大失败次数，到达该阈值后，则认为RS为down； 设为0，则关闭监控检查功能</span></td>
                    </div>
                </div>

            </fieldset>
        </form>

    </div>


</div>


<script type="text/javascript">
	$("#7_layer_access_new_item_submit").click(function() {
		post_data = new Object() ;
		$("7_layer_access_new_item_input").each(function() {
			var key = $(this).attr('id') ;
			var value = $(this).val() ;
			post_data[key] = value ;
		})
		var _post_data = $.toJSON(post_data)
        var loading = new ol.loading({id: "7_layer_access_new_item_body"})
		$.ajax({
		  type: 'POST' ,
          url: '/7_layer_access_new_item/' ,
          data: _post_data ,
          cache: false ,
          beforeSend: function() { loading.show()} ,
          success: function(data) {
          		loading.hide()  ;
               	window.location.href="/7_layer_access/"
          },
          error: function(XMLHttpRequest) {
          	loading.hide()  ;
          	bootbox.alert('提交失败: ' + XMLHttpRequest)
          }
      });

	})

    var rs_list = []

    function rs_table() {
        var html = ''
        for (rs in rs_list) {
            _rs = rs_list[rs]
            html += '<tr><td>' + _rs['website_ip'] + '</td><td>' + _rs['website_port'] + '</td><td>' +
                _rs['website_weight'] + '</td><td>' + _rs['monitor_type'] + '</td><td>' + _rs['fail_timeout'] +'</td><td>' +
                _rs['max_fails'] + '</td><td> <a href="javascript:rs_remove(' + rs + ')" ><span class="fui-cross"></span>delete</a> <a style="position: relative ; left: 10px;" href="javascript:rs_edit(' + rs + ')" ><span class="fui-new"></span>edit</a> </td></tr>'
        }
        $("#rs_table_body").html(html)
    };

    function rs_remove(rs_num) {
        delete rs_list[rs_num] ;
        rs_table() ;
    };

    function rs_edit(rs_num) {
        $( "#dialog-form-edit" ).dialog( "open" );
        rs_num_now = rs_num
        obj = rs_list[rs_num] ;
        obj_monitor = obj['monitor']
        $("#website_ip").val(obj['website_ip'])
        $("#website_port").val(obj['website_port'])
        $("#website_weight").val(obj['website_weight'])
        $("#monitor_type").val(obj['monitor_type'])
        $("#max_fails").val(obj['max_fails'])
        $("#fail_timeout").val(obj['fail_timeout'])

        console.log(rs_list[rs_num]) ;
    }

    $( "#dialog-form" ).dialog({
        autoOpen: false,
        height: 600,
        width: 400,
        modal: true,
        buttons: {
            "保存": function() {
                monitor_new = new Object ;

                monitor_new['website_ip'] = $("#website_ip").val() ;
                monitor_new['website_port'] = $("#website_port").val() ;
                monitor_new['website_weight'] = $("#website_weight").val() ;
                monitor_new['monitor_type'] = $("#monitor_type").val();
                monitor_new['fail_timeout'] = $("#fail_timeout").val();
                monitor_new['max_fails'] = $("#max_fails").val();

                rs_list.push(monitor_new) ;

                rs_table() ;

                $( this ).dialog( "close" );
            },
            "返回": function() {
                $( this ).dialog( "close" );
            }
        },
        close: function() {

        }

    });

    $("#rs_add").click(function() {
        $( "#dialog-form" ).dialog( "open" );
    });


</script>
{% endblock %}
