{% extends "index.html" %}
{% block body %}
<div class="container">
  <div class='row'>
  	<div class="col-md-12">
		<ul class="breadcrumb">
		  <li><a href="/7_layer_access/">7层接入管理</a> <span class="divider"></span></li>
		  <li class="active">新增7层接入实例</li>
		</ul>
  	</div>
  </div>

  <div class='row'>
  	<div class='col-md-12' id='7_layer_access_new_item_body'>
  		<h4>7层接入实例</h4>
  		<hr>

	  	<form class="form-horizontal">

            <div class="control-group">
		      <label class="control-label" for="service">接入业务名称</label>
		      <div class="controls">
		        <td><input id="service" size=60 class="7_layer_access_new_item_input" type="text" name='service' placeholder="业务名, 例如: 123-nginx"></td>
		      </div>
            </div>

            <div class="control-group">
		      <label class="control-label" for="idc">接入业务所在IDC</label>
		      <div class="controls">
		        <select id="idc" class="7_layer_access_new_item_input" name='idc'>
                    {% for idc in idcList %}
		        	<option value= {{ idc }} > {{ idc }} </option>
                    {% endfor %}
		        </select>
		      </div>
		    </div>

            <div class="control-group">
		      <label class="control-label" for="domain">接入业务域名(Host)</label>
		      <div class="controls">
		        <td><input id="domain" size=60 class="7_layer_access_new_item_input" type="text" name='domain' placeholder="域名, 例如: www.thewayma.com"></td>
		      </div>
            </div>

            <div class="control-group">
		      <label class="control-label" for="upstream">接入业务源站服务器信息(Upstream)</label>
		      <div class="controls">
		        <td><input id="upstream" size=60 class="7_layer_access_new_item_input" type="text" name='upstream' placeholder="upstream, 例如: 1.1.1.1:80,2.2.2.2,3.3.3.3:8080 即多个源站ip用,分割"></td>
		      </div>
            </div>
		</form>

		<button style="position: relative;left: 800px;" class='btn btn-danger' id="7_layer_access_new_item_submit" ><span class="fui-checkbox-checked"></span>提交</button>
		<a href="/7_layer_access/" style="position: relative;left: 800px;" class='btn btn-primary'><span class="fui-arrow-left"></span>返回</a>
  	</div>
  </div>
</div>


<script type="text/javascript">
	$("#7_layer_access_new_item_submit").click(function() {
		post_data = new Object() ;
		$(".7_layer_access_new_item_input").each(function() {
			var key = $(this).attr('id') ;
			var value = $(this).val() ;
			post_data[key] = value ;
		})
		var _post_data = $.toJSON(post_data)
        var loading = new ol.loading({id: "7_layer_access_new_item_body"})
		$.ajax({
		  type: 'POST' ,
          url: '/7_layer_access_new_item/' ,
          data: _post_data ,
          cache: false ,
          beforeSend: function() { loading.show()} ,
          success: function(data) {
          		loading.hide()  ;
               	window.location.href="/7_layer_access/"
          },
          error: function(XMLHttpRequest) {
          	loading.hide()  ;
          	bootbox.alert('提交失败:' + XMLHttpRequest)
          }
      });

	})
</script>
{% endblock %}
